<nav class="navbar sticky-top navbar-light" style="background-color: #77c4fc;"">
  <div class="container-fluid d-flex align-items-center">
    <a class="navbar-brand" href="/">Onboarding Training</a>
    <ul class="d-flex align-items-center">
      <li><a href="/">Institutions</a></li>
      <li><a href="/course">Courses</a></li>
      <li><a href="/student">Students</a></li>
    </ul>
  </div>
</nav>
