<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <!-- Navbar -->
    <%- include('./partials/nav.ejs') %>

    <!-- Body Content -->
    <div class="container">
      <p>Hey, <%= title %> here!</p>
      <p>Seems like you queried for a non-existent page!</p>
    </div>

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
