<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <!-- Navbar -->
    <%- include('./partials/nav.ejs') %>

    <!-- Body Content -->
    <div class="container">
      <div class="studentData">
        <h5><%= title %> Data</h5>
        <% if (data.length > 0) { %>
        <table class="table table-striped table-hover">
          <thead class="table-dark">
            <tr>
              <th scope="col">Student</th>
              <th scope="col">Course</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach(data => { %>
            <tr>
              <td><%= data.name %></td>
              <td><%= data.course %></td>
              <td>
                <a
                  data-edit="<%= data.id%>"
                  class="edit"
                  href="/update_student/<%= data.id%>"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="currentColor"
                    class="bi bi-pencil-square"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                    />
                  </svg>
                </a>

                <a class="delete">
                  <svg
                    data-doc="<%= data.id %>"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="currentColor"
                    class="bi bi-trash"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                    />
                  </svg>
                </a>
              </td>
            </tr>

            <% }) %>
          </tbody>
        </table>
        <% } else { %>
        <p>No <%= title %> to show...</p>
        <% } %>
      </div>
      <hr />

      <div class="studentForm mx-auto text-center" style="max-width: 60%;">
        <h5>Add Student</h5>
        <form action="/student" method="POST">
          <div class="mb-3">
            <label for="name" class="form-label">
              Student Name:
              <input
                type="text"
                name="name"
                id="name"
                class="form-control"
                required
              />
            </label>
          </div>
          <div class="mb-3">
            <label for="course" class="form-label">
              Course:
              <input
                class="form-control"
                type="text"
                name="course"
                id="course"
                required
              />
            </label>
          </div>
          <button type="submit" class="btn btn-outline-primary">
            Add Student
          </button>
        </form>
        <hr>
        <!-- Footer -->
        <%- include('./partials/footer.ejs') %>
      </div>
    </div>


    <script>
      const deleteStudent = Array.from(document.querySelectorAll("a.delete"));

      const removeStudent = (index) => {
        console.log(index);
        const endpoint = `/student/${index}`;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      };

      deleteStudent.forEach((delStudent) => {
        delStudent.addEventListener("click", (e) => {
          console.log(e.target);
          removeStudent(e.target.dataset.doc);
        });
      });
    </script>
  </body>
</html>
