<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <!-- Navbar -->
    <%- include('./partials/nav.ejs') %>

    <!-- Body Content -->
    <div class="container text-center">
      <h5>Update Student</h5>
      <hr>
      <div class="studentData mx-auto text-center" style="max-width: 60%">
        <% if (data) { %>
        <div class="studentForm">
          <form action="/student" method="POST" id="update_student">
            <div class="mb-3">

              <label for="name" class="form-label">
                Student Name:
                <input
                class="form-control"
                type="text"
                name="name"
                id="name"
                value="<%= data.name %> "
                required
                />
              </label>
            </div>
            <div class="mb-3">

              <label for="course" class="form-label">
                Course:
                <input
                type="text"
                name="course"
                id="course"
                value="<%= data.course %>"
                class="form-control"
                required
                />
              </label>
            </div>
            <input
              type="text"
              name="id"
              id="id"
              value="<%= data.id %>"
              hidden
            />
      <button type="submit" class="btn btn-outline-primary">Edit Student</button>
          </form>
        </div>
        <% } else { %>
        <p>No <%= title %> to show...</p>
        <% } %>
        <hr />
      </div>
      <!-- Footer -->
      <%- include('./partials/footer.ejs') %>
    </div>


    <script>
      const editForm = document.querySelector("#update_student");
      const index = document.querySelector("#id").value;

      editForm.addEventListener("submit", (e) => {
        e.preventDefault();

        // Retrieve form data
        const name = document.querySelector("#name").value;
        const course = document.querySelector("#course").value;

        // make request to update student
        const endpoint = `/student/${index}`;
        const data = { name, course };

        const putMethod = {
          method: "PUT", // Method itself
          headers: {
            "Content-type": "application/json; charset=UTF-8", // Indicates the content
          },
          body: JSON.stringify(data), // We send data in JSON format
        };

        // make the HTTP put request using fetch api
        fetch(endpoint, putMethod)
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
