<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <!-- Navbar -->
    <%- include('./partials/nav.ejs') %>

    <!-- Body Content -->
    <div class="container text-center">
      <p><%= title %> here!</p>
      <hr>
      <% if (data) { %>

      <div class="courseForm mx-auto text-center" style="max-width: 60%">
        <form action="/course" method="POST" id="update_course">
          <div class="mb-3">

            <label for="name" class="form-label">
              Course Name:
              <input
              type="text"
              name="name"
              id="name"
              value="<%= data.name %> "
              class="form-control"
              required
              />
            </label>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">
              Institution Name:
              <input
              type="text"
              name="institution"
              id="institution"
              value="<%= data.institution %> "
              class="form-control"
              required
              />
            </label>
          </div>
          <input type="text" name="id" id="id" value="<%= data.id %>" hidden />
          <button type="submit" class="btn btn-outline-primary">Edit Course</button>
        </form>
        <hr />
      </div>
      <% } else { %>
      <p>No <%= title %> to show...</p>
      <% } %>
      <!-- Footer -->
      <%- include('./partials/footer.ejs') %>
    </div>


    <script>
      const editForm = document.querySelector("#update_course");
      const index = document.querySelector("#id").value;

      editForm.addEventListener("submit", (e) => {
        e.preventDefault();

        // Retrieve form data
        const name = document.querySelector("#name").value;
        const institution = document.querySelector("#institution").value;

        // make request to update student
        const endpoint = `/course/${index}`;
        const data = { name, institution };

        const putMethod = {
          method: "PUT", // Method itself
          headers: {
            "Content-type": "application/json; charset=UTF-8", // Indicates the content
          },
          body: JSON.stringify(data), // We send data in JSON format
        };

        // make the HTTP put request using fetch api
        fetch(endpoint, putMethod)
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
