* {
    
    padding: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    margin-right: 5px;
}

nav {
    margin-bottom: 5px;
}

ul.d-flex {
    margin: 0;
}

ul.d-flex li {
    list-style: none;
    margin-right: 10px;
}

ul.d-flex li a {
    text-decoration: none;
    color: #434444;
}